<html>
<head>
  <title>Keyboard</title>
  <link rel="stylesheet" type="text/css" href="keyboard.css">
</head>
<body>
<div id="keypad">
  <div>
    <p>
    </p>
  </div>
  <div>
    <input name="1" type="button" value="1" size="4"/>
    <input name="2" type="button" value="2"/>
    <input name="3" type="button" value="3"/>
  </div>
  <div>
    <input name="4" type="button" value="4"/>
    <input name="5" type="button" value="5"/>
    <input name="6" type="button" value="6"/>
  </div>
  <div>
    <input name="7" type="button" value="7"/>
    <input name="8" type="button" value="8"/>
    <input name="9" type="button" value="9"/>
  </div>
</div>

</body>
</html>
