<link rel= "stylesheet" type= "text/css" href= "/static/index.css">


<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Home</a>
    <div class="dropdown-content">
      <a href="/">Home</a>
        <a href="/login">login</a>
      <a href="/send_message">Send Text Messge</a>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Register</a>
    <div class="dropdown-content">
      <a href="/register">New user</a>
      <a href="/teams/new/">Register New team</a>
      <a href="/events/new/">Register New Event</a>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Schedule</a>
        <div class="dropdown-content">
          <a href="/schedule">View schedule</a>
          <a href="/teams/">View teams</a></a>



    </div>
  </li>
</ul>

<h1>Please login!</h1>
<form id="login">
  <label>Username:</label><br />
<input type="text" name="username" placeholder="Username"/><br />
<label>Password:</label><br />
<input type="password" name="password" placeholder="Password"/>
<input type="submit"/>
</form>
<a href="/register">register here</a>
