<html>
<head>
  <title></title>
  <link rel= "stylesheet" type= "text/css" href= "/static/index.css">
</head>
<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Home</a>
    <div class="dropdown-content">
      <a href="/">Home</a>
        <a href="/login">login</a>
      <a href="/send_message">Send Text Messge</a>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Register</a>
    <div class="dropdown-content">
      <a href="/register">New user</a>
      <a href="/teams/new/">Register New team</a>
      <a href="/events/new/">Register New Event</a>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Schedule</a>
        <div class="dropdown-content">
          <a href="/schedule">View schedule</a>
          <a href="/teams/">View teams</a></a>



    </div>
  </li>
</ul>
<form action ="/send_message" method="post">
Enter your number<input name="your_number" /><br />
Enter recipients number<input name="recipient_number"/><br />
Enter your message<input name="msg" /><br />
<input type="submit"/>
</form>
<div id="keypad" style="display: none;">
  <div id="screen">
    <p>
    </p>
  </div>
  <div>
    <input name="1" type="button" value="1" size="4"/>
    <input name="2" type="button" value="2"/>
    <input name="3" type="button" value="3"/>
  </div>
  <div>
    <input name="4" type="button" value="4"/>
    <input name="5" type="button" value="5"/>
    <input name="6" type="button" value="6"/>
  </div>
  <div>
    <input name="7" type="button" value="7"/>
    <input name="8" type="button" value="8"/>
    <input name="9" type="button" value="9"/>
  </div>
</div>
<div id=error>
  {{ error }}
</div>
</html>
